@font-face {
  font-family: font1;
  src: url(../vibo_project/fonts/myriadpro-bold.otf);
}
@font-face {
  font-family: font2;
  src: url(../vibo_project/fonts/WorkSans-Bold.otf);
}
@font-face {
  font-family: font3;
  src: url(../vibo_project/fonts/myriadpro-light.otf);
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	outline: none;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}
#test {
	display: none;
}
.container {
	max-width: 1150px;
	margin: 0px auto;
}
#hero {
	padding-top: 48px;
	height: 1000px;
	background-color: #0ed0f0; 
	background-image: url(../vibo_project/wave.png), url(../vibo_project/smartphone.png), url(../vibo_project/bg1.png);
	background-repeat: no-repeat , no-repeat , no-repeat;
	background-size: 100%, auto, cover;
	background-position: center bottom,center bottom -91px, center bottom;
}
header {
	height: 48px;
	line-height: 48px;
	display: flex;
	justify-content: space-between;
}
header img {
	display: inline-block;
}
header ul li {
	display: inline-block;
	margin: 0px 14px;
}
header ul li:last-child {
	margin-right: 0px;
}
header ul li a {
	color: white;
	font-size: 16px;
	font-family: font1, sans-serif;
}
#hero h1 {
	width: 545px;
	text-align: center;
	color: white;
	font-size: 45px;
	line-height: 60px;
	font-family: font2, sans-serif;
	margin: 0px auto;
	margin-top: 132px;
}
#hero h2 {
	width: 545px;
	text-align: center;
	color: white;
	font-size: 15px;
	line-height: 27px;
	font-family: font3, sans-serif;
	margin: 0px auto;
	font-weight: normal;
	margin-top: 13px;
}
#action {
	text-align: center;
	padding: 0px 13px;
}
#action a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	padding: 0px 32px;
	margin-top: 44px;
}
#action a:first-child {
	background-color: white;
	color: #233148;
	margin-right: 13px;
}
#action a:last-child {
	background-color: #0bc2f1;
	border: 1px solid white;
	color: white;
	margin-left: 13px;
}
#features {
	background-color: #fafafc;
}
#features .container {
	display: flex;
	justify-content: space-between;
	height: 1095px;
}
#features .container > div > img {
	margin-top: 290px;
	margin-left: 110px;
}
#features_list{
	position: relative;
}
#features_list div {
	background-color: white;
	width: 272px;
	height: 323px;
	border-radius: 5px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	margin-bottom: 20px;
	position: absolute;
}
#features_list div:nth-child(1) {
	right: 370px;
	top: 116px;
}
#features_list div:nth-child(2) {
	right: 39px;
	top: 211px;
}
#features_list div:nth-child(3) {
	right: 438px;
	top: 509px;
}
#features_list div:nth-child(4) {
	right: 87px;
	top: 632px;
}
#features_list div img {
	display: block;
	margin: 0px auto;
	margin-top: 60px;
}
#features_list div h3 {
	font-size: 14px;
	color: #233148;
	line-height: 28px;
	font-family: font1, sans-serif;
	text-align: center;
	margin-top: 28px;
}
#features_list div p {
	font-size: 14px;
	color: #6a6d89;
	line-height: 28px;
	font-family: font3, sans-serif;
	text-align: center;
	margin-top: 28px;
	margin: 0px 30px;
}
#stable {
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding-top: 85px;
	padding-bottom: 112px;
	height: 625px;
}
#stable > div {
	width: 470px;
	margin-top: 53px;
}
#stable > ul {
	width: 570px;
	margin-top: 23px;
}
#stable > div h2 {
	text-align: right;
	font-size: 30px;
	line-height: 60px;
	color: #233148;
	font-family: font2, sans-serif;
}
#stable > div p {
	font-size: 14px;
	color: #6a6d89;
	line-height: 28px;
	font-family: font3, sans-serif;
	text-align: right;
	margin-top: 36px;
}
#stable > div > div {
	text-align: right;
}
#stable > div > div > a {
	display: inline-block;
	width: 200px;
	height: 50px;
	line-height: 50px;
	background-color: #33d2fd;
	text-align: center;
	margin-right: 6px;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	font-family: font2, sans-serif;
	margin-top: 55px;
}
#stable > ul li p {
	display: none;
	padding-left: 91px;
	padding-right: 20px;
	font-size: 14px;
	line-height: 28px;
	color: white;
	font-family: font3, sans-serif;
	margin-top: -15px;
}
#stable ul li {
	margin-bottom: 20px;
	box-shadow: 0px 6px 9px rgba(35,39,47,0.1);
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: 38px 21px;
}
#stable ul li a {
	line-height: 75px;
	font-size: 15px;
	color: #233148;
	font-family: font2, sans-serif;
	margin-left: 91px;
	width: 100%;
	display: inline-block;
}
#stable ul li:nth-child(1)  {
	background-image: url(../vibo_project/heath.png);
}
#stable ul li:nth-child(2)  {
	background-image: url(../vibo_project/wth.png);
}
#stable ul li:nth-child(3)  {
	background-image: url(../vibo_project/bag.png);
}
#stable ul li:nth-child(4)  {
	background-image: url(../vibo_project/pen.png);
}
#stable ul li:hover {
	background-color: #33d2fd;
	padding-bottom: 25px;
	padding-right: 	20px;
}
#stable ul li:hover p {
	display: block;
}
#need {
	background-color: #fafafc;
	padding-top: 72px;
	padding-bottom: 77px;
	display: flex;
	justify-content: space-between;
}
#need > img {
	margin-left: 15px;
}
#need > div {
	margin-top: 21px;
	width: 470px;
}
#need > div h2 {
	text-align: left;
	font-size: 30px;
	line-height: 60px;
	color: #233148;
	font-family: font2, sans-serif;
}
#need > div ul {
	margin-top: 38px;
}
#need > div ul li a {
	margin-left: 30px;
	font-size: 15px;
	color: #233148;
	font-family: font2, sans-serif;
	display: inline-block;
}
#need > div ul li {
	background-repeat: no-repeat;
	margin-bottom: 23px;
}
#need > div ul li:nth-child(1) {
	background-image: url(../vibo_project/check.png);
}
#need > div ul li:nth-child(2) {
	background-image: url(../vibo_project/check.png);
}
#need p {
	font-size: 14px;
	color: #6a6d89;
	line-height: 28px;
	font-family: font3, sans-serif;
	margin-top: 35px;
}
#avaliable {
	background-color: #0ed0f0; 
	background-image: url(../vibo_project/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 761px;
}
#avaliable .container {
	display: flex;
	justify-content: space-between;
}
#avaliable .container > img {
	margin-top: 109px;
	margin-bottom: 94px;
	margin-left: 180px;
}
#avaliable .container > div {
	width: 570px;
	margin-top: 278px;
}
#avaliable .container > div h2 {
	text-align: left;
	font-size: 30px;
	line-height: 60px;
	color: #233148;
	font-family: font2, sans-serif;
}
#avaliable .container > div p {
	font-size: 14px;
	color: white;
	line-height: 28px;
	font-family: font3, sans-serif;
	margin-top: 18px;
}
#avaliable .container > div ul {
	display: flex;
	margin-top: 60px;
}
#avaliable .container > div ul li {
	margin: 0px 8px;
}
#getapp {
	width: 370px;
	height: 70px;
	line-height: 70px;
	display: block;
	box-shadow: 0px 11px 29px rgba(255,7,95,0.2);
	background-image: linear-gradient(to top, #f6387d,#fe7570 );
	margin: 0px auto;
	margin-top: -35px
}
#getapp a {
	display: block;
	font-size: 20px;
	color: white;
	font-family: font2, sans-serif;
	text-align: center;
	border-radius: 3px;
}
#link {
	display: flex;
	justify-content: space-between;
	padding-top: 146px;
	padding-left: 200px;
	padding-right: 200px;
}
#link h3 {
	font-size: 15px;
	color: #233148;
	line-height: 28px;
	font-family: font2, sans-serif;
}
#link a {
	font-size: 14px;
	color: #6a6d89;
	line-height: 28px;
	font-family: font3, sans-serif;
}
#touch h2 {
	text-align: center;
	font-size: 30px;
	line-height: 60px;
	color: #233148;
	font-family: font2, sans-serif;
	margin-top: 85px;
}
#touch p {
	text-align: center;
	font-size: 14px;
	color: #6a6d89;
	line-height: 28px;
	font-family: font3, sans-serif;
	margin-top: 13px;
}
form {
	display: block;
	text-align: center;
	margin-top: 70px;
}
input[type=text] {
	width: 570px;
	height: 50px;
	border: none;
	background-color: #f6f7fb;
}
button[type=submit] {
	width: 170px;
	height: 50px;
	border: none;
	background-color: #33d2fd;
	font-size: 15px;
	color: #233148;
	line-height: 50px;
	font-family: font2, sans-serif;
	border-radius: 3px;
}
footer {
	height: 100px;
	background-color: #233148;
	margin-top: 86px;
}
footer .container {
	display: flex;
	justify-content: space-between;
	line-height: 100px;
}
footer .container p {
	font-size: 14px;
	color: white;
	font-family: font3, sans-serif;
}
footer .container ul {
	display: flex;
	justify-content: space-between;
}
footer .container ul li {
    margin-top: 9px;
}
footer .container ul li a {
	margin: 0px 27px;
}

/* Responsive */

@media screen and (max-width: 1200px) {
	.container {
		padding: 0px 20px;
	}
	#features .container {
	    height: auto;
	}
	#features .container > div > img {
		margin: 100px;
	}
	#features_list {
		width: 50%;
		margin-bottom: 100px;
    	margin-top: 100px;
	}
	#features_list div {
		position: static;
		width: 100%;
		height: auto;
		padding: 10px 0px;
	}
	#features_list div img {
		float: left;
		margin: 20px;
	}
	#features_list div h3 {
		text-align: left;
		margin-top: 0px;
		font-size: 20px;
	}
	#features_list div p {
		text-align: left;
		font-size: 17px;
		line-height: 25px;
	}
	#stable {
		padding-top: 0px;
		height: 500px;
	}
	#stable > div {
		margin-right: 15px;
	}
	#stable > ul {
		margin-left: 15px;
	}
	#stable ul li a {
		width: 82%;
	}
	#need > div {
		margin-left: 30px;
	}
	#need > img {
		margin-right: -20px;
	}
	#avaliable .container > img {
	    margin: 0px auto;
	    margin-top: 109px;
	    margin-bottom: 94px;
	}
}

@media screen and (max-width: 960px) {
	header ul li a {
	    font-size: 20px;
	    margin: 0px 20px;
	}
	#hero {
	    height: 750px;
    	background-size: 100%, 175px auto, cover;
	}
	#hero h1 {
	    font-size: 37px;
	    line-height: 52px;
	    margin-top: 62px;
	}
	#hero h2 {
	    font-size: 19px;
	}
	#action a {
    	font-size: 19px;
	}
	#features .container {
    	display: block;
    }
    #features .container > div > img {
	    display: none;
	}
	#features_list {
    	width: 100%;
	    margin-bottom: 80px;
    	margin-top: 80px;
    }
    #features_list div {
    	padding: 25px 20px;
    }
    #features_list div h3 {
	    text-align: center;
	    margin-top: 14px;
	    margin-bottom: 15px;
	    font-size: 27px;
	}
	#features_list div p {
		text-align: center;
	    font-size: 17px;
	}
	#stable {
		display: block;
		height: auto;
	    padding-bottom: 0px;
	}
	#stable > div {
		width: 100%;
	}
	#stable > ul {
		width: 100%;
	}
	#stable > div h2 {
		text-align: center;
	}
	#stable > div p {
		text-align: center;
		font-size: 17px;
		margin-top: 17px;
	}
	#stable > div > div {
	    text-align: center;
	}
	#stable > div > div > a {
		font-size: 20px;
		margin-top: 40px;
		width: 280px;
	}
	#stable > ul {
	    padding: 40px 20px;
	    margin: 40px 0px;
	}
	#stable ul li a {
	    text-align: center;
	    width: 100%;
	    margin-top: 19px;
	    margin-left: unset;
	    font-size: 22px;
	}
	#stable ul li {
	    background-position: center top;
	}
	#need {
		display: block;
		padding: 20px 15px 45px 15px;
	}
	#need > img {
		width: 90%;
		margin-left: 40px;
	}
	#need > div {
	    margin-left: unset; 
        margin-top: 75px;
    	width: unset;
	}
	#need > div h2 {
		text-align: center;
	}
	#need > div ul {
	    display: inline-flex;
	    width: 100%;
	}
	#need > div ul li:nth-child(1) {
        background-position: right;
	    width: 50%;
	    text-align: right;
	    padding-right: 25px;
	    margin-right: 20px;
	}
	#need > div ul li:nth-child(2) {
	    background-position: left;
	    width: 50%;
	    text-align: left;
	    margin-left: 20px;
	}
	#need > div ul li a {
		font-size: 18px;
	}
	#need > div ul li:nth-child(1) a {
    	margin-left: 0px;
	    width: 100%;
	    text-align: right;
	}
	#need > div ul li:nth-child(2) a {
    	margin-left: 25px;
    	width: 90%;
	}
	#need p {
		text-align: center;
		font-size: 16px;
		margin-top: 10px;
	}
	#avaliable .container > div {
	    width: 50%;
	    margin-top: 217px;
	}
	#link {
	    padding-top: 110px;
	    padding-left: 145px;
	    padding-right: 145px;
	}
	input[type=text] {
	    margin-bottom: 20px;
	}
}
@media screen and (max-width: 768px) {
	header {
	    height: auto;
	    line-height: 48px;
	    display: block;
	}
	header img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	header ul {
	    display: flex;
	    justify-content: space-between;
	}
	header ul li {
		margin-top: 40px;
	}
	header ul li:last-child {
	    margin-right: unset;
	}
	#hero h1 {
	    font-size: 31px;
	    line-height: 40px;
	    margin-top: 35px;
	    width: unset;
	}
	#hero h2 {
		width: unset;
	}
	#stable ul li {
	    background-position: center top;
	}
	#stable ul li a {
	    text-align: center;
	    width: 100%;
	    margin-top: 19px;
	}
	#avaliable {
	    height: 472px;
	}
	#avaliable .container {
	    height: 350px;
	}
	#avaliable .container > img {
		display: none;
	}
	#avaliable .container > div {
		width: 100%;
	    margin-top: 30px;
	}
	#avaliable .container > div h2 {
		text-align: center;
	}
	#avaliable .container > div p {
		text-align: center;
		font-size: 16px;
	}
	#avaliable .container > div ul {
	    justify-content: space-between;
	    padding: 10px;
	}
	#avaliable .container > div ul li {
	    width: 50%;
	}
	#avaliable .container > div ul li:first-child {
	    text-align: right;
    	margin-right: 10px;
	}
	#avaliable .container > div ul li:last-child {
	    text-align: left;
    	margin-left: 10px;
	}
	#getapp {
		margin-top: 80px;
	}
	#link {
	    padding: 90px 20px 0px 20px;
	}
	form {
	    margin-top: 35px;
	}
	input[type=text] {
	    width: 100%;
	}
	footer {
		height: unset;
	}
	footer .container ul li a {
	    margin: 0px 10px;
	}
}
@media screen and (max-width: 500px) {
	header {
	     height: 48px; 
	    line-height: 48px;
	    display: flex;
	}
	header img {
	    margin-left: unset;
	    margin-right: unset;
	}
	header > ul {
		display: none;
	}
	header #test ul {
	    display: block;
	    justify-content: space-between;
	}
	header #test ul li {
	    margin-top: 20px;
	    display: block;
	    margin: 0px 14px;
	}
	header > #test {
		display: unset;
	}
	#action {
		display: block;
	}
	#action a {
		width: 100%;
	}
	#action a:first-child {
		margin-right: unset;
	}
	#action a:last-child {
		margin-left: unset;
		margin-top: 20px;
	}
	#features_list div img {
	    float: left;
	    margin: 20px;
	    margin-bottom: 105px;
	}
	#features_list div h3 {
	    text-align: left;
	}
	#features_list div p {
	    text-align: left;
	}
	#avaliable .container > div ul li a img {
		width: 100%;
	}
	#need > img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	}
	#stable > ul {
	    padding: 25px 20px;
	    margin: 14px 0px;
	}
	#getapp {
	    width: 220px;
	    height: 50px;
	    line-height: 50px;
	    display: block;
	    box-shadow: 0px 11px 29px rgba(255,7,95,0.2);
	    background-image: linear-gradient(to top, #f6387d,#fe7570 );
	    margin: 0px auto;
	    margin-top: 93px;
	}
	#getapp a {
		font-size: 18px;
	}
	footer .container {
		line-height: unset;
		display: block;
	}
	footer .container p {
	    font-size: 15px;
	    text-align: center;	
	    line-height: 60px;
	}
	footer .container ul li a {
	    margin: 0px 7px;
	}
	#link {
	    padding: 90px 20px 0px 20px;
	    flex-wrap: wrap;
	}
	#link div {
		width: 50%;
	    text-align: center;
	}
	#link div:nth-child(3) {
		margin-top: 20px;
	}
	#link div:nth-child(4) {
		margin-top: 20px;
	}
	#checkbox {
		display: none;
	}
	#iconMenu {
		background-color: #00d0ea;
		width: 40px;
		display: inline-block;
		height: 24px;
		border-radius: 5px;
		cursor: pointer;
	}

	#iconMenu span {
		background-color: white;
	    display: block;
	    height: 4px;
	    margin-top: 3px;
	    margin-left: 5px;
	    margin-right: 5px;
	}

	#miniMenu {
		background-color: #1cb5db;
		width: 300px;
		height: 100%;
		position: fixed;
		top: 66px;
		right: -300px;
		transition: right 0.8s ease;
	}

	#mMask {
		top: 0px;
		right: 0px;
	    position: fixed;
	    background-color: rgb(0,0,0,0.4);
	    width: 100%;
	    height: 100%;
	    display: none;
	}


	input#mMenu:checked + label#mMask  {
		display: block;
	}

	input#mMenu:checked + label#mMask +div#miniMenu {
		right: 0px;
	}

	input#mMenu:checked + label#mMask +div#miniMenu +div#content p{
		right: 300px;
	}

	#mMenu {
		display: none;
	}	
}
